# Python in a Notebook 


- CityU COM5507 201819A - Unit 1: Python in Action 
- 12 Sep 2018, Week 2: Python: A command liner's pespective
- **19 Sep 2018, Week 3: Python in a Notebook**


- Course Instructor: [Dr. Xinzhi Zhang](www.drxinzhizhang.com)  (JOUR, Hong Kong Baptist University) 
  - xzzhang2@gmail.com



- **Content**
 1. Executing a Python program
 2. Markdown language in the Notebook 
 3. Fundamentals of cells and scripts
 4. Recap: Python data types 
 5. Recap: Python data structures

## Executing a Python program: CLI vs. Jupytyer Notebook

 - We have already demonstrated how to execute a Python program as a "command liner" in Week 2 (12 Sep 2018).  
 - This week we will tour around the Jupyter Notebook. 


 - *The Jupyter Notebook is an open-source web application that allows you to create and share documents that contain live code, equations, visualizations and narrative text. Uses include: data cleaning and transformation, numerical simulation, statistical modeling, data visualization, machine learning, and much more.*  -- From the [Project Jupyter](https://jupyter.org/):

 - *It is a document format that allows executable code, formatted text, graphics, and even interactive features to be combined into a single document. *



 - Jupyter Notebook has two "cell types": **Markdown** and **Code**

 - To change cell type: 

![cell type](intro_celltype.png)

## Markdown

 - Review: week 1's slide: **A quick guide to [Markdown language](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet)**

Some examples of markdown language

# header level 1
## header level 2
### header level 3
#### header level 4 
 
- points 
 - subpoints 1
 - subpoints 2
 

- points 
 - subpoints 


1. numbers 
1. numbers 
1. numbers
 
 
 *italic*
 
 **bold**
 
inserting an [URL](about:blank) 

inserting a picture: ![this is the alternative text](image address.png)






Python (or any other programming language) Code
```python
# simple adder function
def adder(x,y):
    return x+y
```

## Cell: the basic "scripts"

In [188]:
# CLI here (!) 
!ls -l # the same as what you are doing in CLI

total 608
-rw-r--r--@ 1 xzzhang2  staff   90927 Sep 17 16:00 intro_celltype.png
-rw-r--r--@ 1 xzzhang2  staff  188255 Sep 17 17:27 intro_pydatastruc.png
-rw-r--r--  1 xzzhang2  staff   27839 Sep 17 17:52 py_nb_intro.ipynb

In [189]:
!date

Mon Sep 17 17:52:46 HKT 2018

In [190]:
!pwd

/Users/xzzhang2/201809_com5507/py_nb

In [191]:
import this

In [192]:
# print - comments are written in this way
print("Hello World")

Hello World

In [193]:
# as a calculator 
1 + 1

2

In [194]:
# input as a calculator 
rate = input('please input the rate: ')
hours = input('please input the working hours: ')
salary = float(rate) * float(hours) 
print(salary)

please input the rate: 69.3
please input the working hours: 222
15384.599999999999

In [195]:
# Lines are executed sequentially
# However, a cell displays output of last line. 
1 + 1
1 + 2
5 + 6

11

In [196]:
# unless you want all the outputs 
print(1 + 1)
print(1 + 2)
print(5 + 6)

2
3
11

In [197]:
# expressions 
a = 3
b = 5

print (a+b)
print (a*b)

print (b**a) # ** is exponentiation
print (b%a) # %% is remainder

8
15
125
2

## Recap: python data types

In [198]:
# Python data types 

# 1. int
print('this is int', int(5))  
print('what about this?', int(5.999998))  

# 2. float 
print('this is float', float(5.999998))  
print('what about this', float(5))  

# 3. complex: complex (real, imaginary)
print(complex (1,2)) 

# 4. boolean  
a = True
b = False
c = True
print (a and b)
print (a or b)

# 5. None type

this is int 5
what about this? 5
this is float 5.999998
what about this 5.0
(1+2j)
False
True

In [142]:
# 6. strings 
# Triple quotes are useful for multiple line strings
y = '''
One pill makes you larger,
and one pill makes you small; 
And the ones that mother gives you, 
don't do anything at all, 
Go ask Alice, 
when she's ten feet tall, 
And if you go chasing rabbits, 
and you know you're going to fall;
Tell 'em a hookah-smoking caterpillar has given you the call, 
And call Alice, 
when she was just small, 
'''
print (y)

One pill makes you larger,
and one pill makes you small;
And the ones that mother gives you,
don't do anything at all,
Go ask Alice,
when she's ten feet tall,
And if you go chasing rabbits,
and you know you're going to fall;
Tell 'em a hookah-smoking caterpillar has given you the call,
And call Alice,
when she was just small,

In [143]:
y.upper()

"\nONE PILL MAKES YOU LARGER,\nAND ONE PILL MAKES YOU SMALL; \nAND THE ONES THAT MOTHER GIVES YOU, \nDON'T DO ANYTHING AT ALL, \nGO ASK ALICE, \nWHEN SHE'S TEN FEET TALL, \nAND IF YOU GO CHASING RABBITS, \nAND YOU KNOW YOU'RE GOING TO FALL;\nTELL 'EM A HOOKAH-SMOKING CATERPILLAR HAS GIVEN YOU THE CALL, \nAND CALL ALICE, \nWHEN SHE WAS JUST SMALL, \n"

In [144]:
# 5a. more on strings: String operators and methods

# tokenize by space
words = y.split(' ')
print (words)

['\nOne', 'pill', 'makes', 'you', 'larger,\nand', 'one', 'pill', 'makes', 'you', 'small;', '\nAnd', 'the', 'ones', 'that', 'mother', 'gives', 'you,', "\ndon't", 'do', 'anything', 'at', 'all,', '\nGo', 'ask', 'Alice,', '\nwhen', "she's", 'ten', 'feet', 'tall,', '\nAnd', 'if', 'you', 'go', 'chasing', 'rabbits,', '\nand', 'you', 'know', "you're", 'going', 'to', 'fall;\nTell', "'em", 'a', 'hookah-smoking', 'caterpillar', 'has', 'given', 'you', 'the', 'call,', '\nAnd', 'call', 'Alice,', '\nwhen', 'she', 'was', 'just', 'small,', '\n']

In [145]:
# tokenize by comma 
words = y.split(',')
print (words)

['\nOne pill makes you larger', '\nand one pill makes you small; \nAnd the ones that mother gives you', " \ndon't do anything at all", ' \nGo ask Alice', " \nwhen she's ten feet tall", ' \nAnd if you go chasing rabbits', " \nand you know you're going to fall;\nTell 'em a hookah-smoking caterpillar has given you the call", ' \nAnd call Alice', ' \nwhen she was just small', ' \n']

In [146]:
# remove break line character
[w.replace('\n','') for w in words]

['One pill makes you larger',
 'and one pill makes you small; And the ones that mother gives you',
 " don't do anything at all",
 ' Go ask Alice',
 " when she's ten feet tall",
 ' And if you go chasing rabbits',
 " and you know you're going to fall;Tell 'em a hookah-smoking caterpillar has given you the call",
 ' And call Alice',
 ' when she was just small',
 ' ']

In [147]:
# remove more 
[w.replace('you','me') for w in words]

['\nOne pill makes me larger',
 '\nand one pill makes me small; \nAnd the ones that mother gives me',
 " \ndon't do anything at all",
 ' \nGo ask Alice',
 " \nwhen she's ten feet tall",
 ' \nAnd if me go chasing rabbits',
 " \nand me know me're going to fall;\nTell 'em a hookah-smoking caterpillar has given me the call",
 ' \nAnd call Alice',
 ' \nwhen she was just small',
 ' \n']

In [148]:
# always check the types 
type("the type is...")

str

## Recap: Python data structures

![python data stru](intro_pydatastruc.png)

### Lists

In [170]:
# python data structures

# 1. lists 
# lists: integers, strings, empty, and nested lists

list1 = [10, 20, 30, 40]
list2 = ['crunchy frog', 'ram bladder', 'lark vomit','harry potter', 'sun wu kong']
list3 = [] # important
list4 = [list1, 10, 20, 30, 'abc', 'def', ['n1, n2'] ]

print(list1)
print(list2)
print(list3)
print(list4)

[10, 20, 30, 40]
['crunchy frog', 'ram bladder', 'lark vomit', 'harry potter', 'sun wu kong']
[]
[[10, 20, 30, 40], 10, 20, 30, 'abc', 'def', ['n1, n2']]

In [150]:
# Lists are mutable ("changable")

# changing an element in the list 
print("before:" , list2)

list2[2] = 'another guy not lark vomit'

print("after:" , list2)

before: ['crunchy frog', 'ram bladder', 'lark vomit', 'harry potter', 'sun wu kong']
after: ['crunchy frog', 'ram bladder', 'another guy not lark vomit', 'harry potter', 'sun wu kong']

In [151]:
# traversing a list
# for numerics
for i in range(len(list1)):
    list1[i] = list1[i] * 2
print(list1)

[20, 40, 60, 80]

In [152]:
# indexing a list
list2[1] # zero indexing
print(list2[1])
print(list2[-3])
print(list2[-4])

ram bladder
another guy not lark vomit
ram bladder

In [153]:
# concatenating
list_1_2 = list1 + list2
print(list_1_2)

[20, 40, 60, 80, 'crunchy frog', 'ram bladder', 'another guy not lark vomit', 'harry potter', 'sun wu kong']

In [154]:
# slicing
print(list2[0:3])
print(list2[0:])
print(list2[:3])

['crunchy frog', 'ram bladder', 'another guy not lark vomit']
['crunchy frog', 'ram bladder', 'another guy not lark vomit', 'harry potter', 'sun wu kong']
['crunchy frog', 'ram bladder', 'another guy not lark vomit']

In [155]:
print (list_1_2[0:10:2]) # start:stop:step

[20, 60, 'crunchy frog', 'another guy not lark vomit', 'sun wu kong']

In [156]:
# reversing
print(list2[::-1])

['sun wu kong', 'harry potter', 'another guy not lark vomit', 'ram bladder', 'crunchy frog']

In [157]:
# checking the list
# how long is the list? len()
print(len(list2))
print(range(len(list2)))

5
range(0, 5)

In [158]:
# check if something in the list or not? 
print(10 in list2)

False

In [159]:
# loop over all elements in a list
for i in list2:
    print (i)

crunchy frog
ram bladder
another guy not lark vomit
harry potter
sun wu kong

In [160]:
for asdfasdfasdfasdfqawer5q32453245 in list2:
    print (asdfasdfasdfasdfqawer5q32453245)

crunchy frog
ram bladder
another guy not lark vomit
harry potter
sun wu kong

### dictionaries 
(**important!** preparing for the JSON data management)

In [115]:
# Dictionaries, there are several ways to create them

# method 1. directly assignment. with {} denotation
dic1 = {'one':1, 'two':2, 'three':3}
print(dic1)

{'one': 1, 'two': 2, 'three': 3}

In [121]:
# method 2. start with empty dictionary
dic2 = {}
dic2['one'] = 1
dic2['two'] = 2
dic2['three'] = 3
print(dic2)
print (dic2['two'])

{'one': 1, 'two': 2, 'three': 3}
2

In [128]:
# method 3. create a list (with key - value pairs in it), then set the type as a dict 
list5 = [('key1', 1), ('key2', 2),('key3',3)]
dict3 = dict(list5)
print(dict3)
# print (dic3['key3'])
# print(type(list5))
# print(type(dict3))

{'key1': 1, 'key2': 2, 'key3': 3}

dict

In [ ]:
# the elements of dict is mutable
print(dic2)
dic2['three'] = 4 
print(dic2)

In [124]:
# the elements of dictionary is mutable (can be changed), BUT the key is NOT
print(dic2)
dic2['three'] = dic2['four']
print(dic2)

{'one': 1, 'two': 2, 'three': 'four'}
{'one': 1, 'two': 2, 'three': 4}

In [ ]:
# traversing by key
# because key is imutable, key can be number or string and can be used for indexing 
for k in dic2.keys():
    print (k)

### tuples

In [131]:
# tuple = just like list, but immutable
tuple1 = (10, 20, 30, 40)
tuple2 = ('crunchy frog', 'ram bladder', 'lark vomit','harry potter', 'sun wu kong')
tuple3 = ()
tuple4 = (tuple1, 10, 20, 30, 'abc', 'def', ['n1, n2'], tuple2)

print(tuple1, tuple2, tuple3, tuple4)

(10, 20, 30, 40) ('crunchy frog', 'ram bladder', 'lark vomit', 'harry potter', 'sun wu kong') () ((10, 20, 30, 40), 10, 20, 30, 'abc', 'def', ['n1, n2'], ('crunchy frog', 'ram bladder', 'lark vomit', 'harry potter', 'sun wu kong'))

In [132]:
tuple2[0] = "change it to not frog"

TypeError: 'tuple' object does not support item assignment

### Sets

In [183]:
# Unordered collection of unique values, mutable, unordered 
set1 = {'crunchy frog', 'ram bladder', 'lark vomit','harry potter', 'sun wu kong'}
set1

{'crunchy frog', 'harry potter', 'lark vomit', 'ram bladder', 'sun wu kong'}

In [184]:
set1[0]

TypeError: 'set' object does not support indexing

In [186]:
set1.remove('harry potter')

In [187]:
set1

{'crunchy frog', 'lark vomit', 'ram bladder', 'sun wu kong'}